doctype html

html(lang="ja")
  head
    meta(charset="utf-8")
    title アクエリアスキャンペーン
    link(rel="stylesheet" href="./css/style.css")

  body
    .aq
      header.header
          h1.mainvisual-text
            img(src="./images/aq_mainvisual_text.png" alt="夏ランの水分補給は水より、アクエリ！夏ラン中の写真を投稿すれば、アクエリアス製品1ケースが50名様に当たる！")

      section.description
        dl.contents
          dt.contents-heading キャンペーン概要
          dd.contents-text ランナーに朗報！アクエリアス公式Twitterアカウントをフォローして、
            br
            |「#夏ラン」「#水よりアクエリ 」の2つハッシュタグをつけて夏ラン中の写真をTwitterに投稿すれば、
            br
            | アクエリアス製品1ケースが50名様に当たる！

          dt.contents-heading キャンペーン期間
          dd.contents-text 2018年7月28日(土)xx:xx～8月31日(金)23:59 [日本時間]

          dt.contents-heading 賞品
          dd.contents-text アクエリアス 500ml PET24本セット 合計50名様

          dt.contents-heading 応募方法
          dd.contents-step STEP
            span 1
          dd.contents-text アクエリアス公式Twitterアカウント(
            a(href="#") @AQUARIUS_SPORTS
            | )をフォロー
          dd.contents-step STEP
            span 2
          dd.contents-text 夏ラン中の写真を撮影し、「#夏ラン」「#水よりアクエリ」2つの#タグをつけて、
            br
            | ご自身のTwitterアカウントから写真を投稿で応募完了
          dd.contents-note
            ul
              li プレゼントの当選はお一人様につき1回のみです。
              li 公式Twitterアカウントのフォローを外した場合、当該ツイートの削除などにより、応募されたツイートが確認できない場合、
                br
                | Twitterアカウントを非公開にしている場合、指定のハッシュタグがない場合は、応募対象外となります。
          dt.contents-heading 当選発表
          dd.contents-text ご応募いただいた方の中から、厳正な審査の上、当選者を決定いたします。
            br
            | ご当選された方には、TwitterのDM(ダイレクトメッセージ)で賞品発送先登録のフォームを
            br
            | 送付いたしますので、手順に沿って期限内にご入力ください。
          dd.contents-note
            ul
              li フォームより賞品発送先情報入力が完了した時点で当選確定となります。期限までに発送先情報の入力がなかった場合、または
                br
                | 登録内容に不備、誤りがあった場合等、賞品をお届けできない場合、当選の権利は無効となります。
              li DzMを受け取るため、必ず、「アクエリアス公式Twitterアカウント(@AQUARIUS_SPORTS)」のフォローをお願いいたし
                br
                | ます。フォローを外されたことによりDMの送付ができない場合は応募の対象外となります。
              li 当選をお知らせするDMの送付は、2018年9月中旬頃を予定しております。
          dt.contents-heading 賞品発送
          dd.contents-text 発送は、10月上旬頃を予定しております。
          dd.contents-note-center ※諸般の事情によりお届けが遅れる場合もございますので、あらかじめご了承ください。
          dt.contents-heading 注意事項
          dd.contents-list
            ul
              li 13歳未満(12歳以下)の方で本キャンペーンに参加をご希望の場合は、保護者の方がご応募ください。
              li Twitterのアカウント名を変更または削除した場合は、当選の権利が無効となります。
              li 同一人物による複数アカウントでの連続応募など、キャンペーン運営上、平等性を欠くような妨害/不正行為と当社が判断した場合、事前予告なく当選を無効とさせていただく場合がございます。
              li 本キャンペーンはTwitter社の提供・協賛によるものではありません。投稿者は、Twitter社の定める利用規約を遵守するものとし、自己の責任において本キャンペーンへ参加するものとします。本キャンペーンへの投稿に起因するアカウントの制限または凍結に関して当社は一切の責任を負いかねますので、あらかじめご了承ください。
              li 本キャンペーンへの応募のためのツイート内容(テキスト及び画像)は第三者の権利を侵害するもの、ポルノ、わいせつ、俗悪、冒とく、憎悪、偏見、人種差別、ものまね、不当な暴力を誘発、促進、または表現している内容は一切含まれていないものに限ります。第三者になんらかの損害を与えた場合は、参加者は自らの責任において対応し且つ参加者がこれを補償するものとします。また、ツイート内容や投稿の掲載により、第三者との間で紛争が生じた場合は、参加者は参加者の責任と費用により当該紛争を解決するものとします。
              li 投稿されたツイート内容(アカウント名含む)および画像は当社、当社関連会社、本キャンペーン事務局によって、広告、販売活動に関連する目的のため、TV、PC、モバイルを含むウェブサイト、及びその他広告物に掲載されることをご了承の上ご応募ください。その際、投稿された内容を一部加筆・修正させていただく場合もございますので、その点ご了承ください。
              li コカ･コーラ社社員および関係者は参加できません。
              li インターネット通信料・接続料はお客様の負担となります。
              li 本キャンペーンのご参加および当選の権利は、日本国内にお住まいの方に限らせていただきます。
              li キャンペーンの応募状況および審査結果に関するお問い合わせにはお答えしかねますので、あらかじめご了承ください。
              li ご当選の権利はご当選者様ご本人のものとなり、ご家族・ご友人等への譲渡、転売、換金はできません。
              li 同一住所への当選賞品の発送は1点までとさせていただきます。
              li 発送先情報の登録がない場合や入力した情報に不備があった場合、当選の権利が無効となります。あらかじめご了承ください。
              li 賞品の発送は、日本国内に限らせていただきます。
              li 配送地域、天候、交通状況、お客様がご不在の場合など、お届けに遅れが生じる場合もございます。
              li ご住所、転居先が不明等の理由により賞品を配達できない場合は、ご応募・ご当選の権利が無効となる場合がございます。
              li 賞品のネットオークション等での転売は、禁止いたします。
              li 賞品は予告なく変更となる場合がございますので、あらかじめご了承ください。
              li 本キャンペーンは、予告なく中止または内容が変更となる場合がございますので、あらかじめご了承ください。
              li 通信の際の接続トラブルにつきましては、責任を負いかねますので、ご了承ください。
          dt.contents-heading 個人情報の取り扱い
          dd.contents-list
            ul
              li ご記入いただきましたお客様の個人情報は、日本コカ･コーラ株式会社により管理させていただきます。
              li 本キャンペーンの抽選、賞品発送、個人を特定しない統計等マーケティング目的で使用いたします。
              li お客様の個人情報を、お客様の同意なしに、業務委託先外の第三者に開示・提示することはありません。(法令などにより開示を求められた場合を除く)
              li ご記入いただきましたお客様の個人情報は、セキュリティ確保の為、SSL/TLSによる暗号化通信をしています。
              li その他、お客様の個人情報の取り扱いについては、「
                a(href="#") プライバシーポリシー
                | 」をご参照ください。
          dt.contents-heading お問い合わせ
          dd.contents-text コカ･コーラWebサイトお客様センター
          dd.contents-detail 営業時間 9：00 ～ 17：00(土・日・祝祭日を除く)
            br
            | お問い合わせフォームは
            a(href="#") こちら
